@import url("https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.input-area {
  @apply flex flex-col gap-2  w-[564px];
}

.input-style {
  @apply border rounded-lg border-custom-white-200 focus:outline-custom-purple-200 p-4 font-normal text-custom-white-100 focus:text-custom-white-300 text-base;
}

.span-error {
  @apply text-custom-red-100 text-xs;
}
